.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.result-name {
    margin-right: 10px;
}

.toggle-favorite-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.toggle-favorite-button:hover {
    background-color: #0056b3;
}

.favorite {
    background-color: #28a745;
  }
  
  .favorite:hover {
    background-color: #218838;
  }